{% extends 'home.html' %}
{% block extra_css %}
<style>
    .container {
        background-color: white;
        padding: 20px;
        width: 1100px
    }
    .bhxh-title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        color: #000000;
        font-style: italic;
    }
    .list-group {
        background: linear-gradient(to right, #DDF0FF, #FFFFFF);
        width: 900px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        height: 480px;
    }
    .info-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }
    label {
        font-weight: bold;
        width: 150px;
        margin-right: 10px;
        color: #066BBB;
        font-family: 'Roboto Slab';
        text-align: left;
    }
    select, input[type="text"], input[type="date"] {
        width: 250px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'Roboto Slab';
        background-color: #FFFFFF;
        color: #000000;
    }
    select:focus, input[type="text"]:focus, input[type="date"]:focus {
        outline: none;
        border: 2px solid #007BFF;
    }
    .field-group {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .field-group label {
        width: 150px;
        margin-right: 10px;
    }
    .field-group select, .field-group input[type="text"] {
        width: 250px;
    }
    .action-buttons {
        display: flex;
        justify-content: flex-end;
    }
    .button {
        background-color: #007BFF;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
    }
    .button:hover {
        background-color: #0056b3;
    }
    .action-buttons1 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .button1 {
        background-color: #D9D9D9;
        color: black;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block page_background %}
<div class="container">
    <div class="action-buttons1">
        <a href="{% url 'bhxh_list' %}" class="button1">Quay lại</a>
    </div>
    <div class="list-group">
        <form method="POST">
            {% csrf_token %}
            <h2 class="bhxh-title">THÔNG TIN BHXH</h2>
            <div class="info-row">
                <div class="field-group">
                    <label for="tenNhanVien">Tên nhân viên</label>
                    <input type="text" id="tenNhanVien" name="tenNhanVien" value="{{ ten_nhan_vien }}" readonly>
                </div>
                <div class="field-group">
                    <label for="maBHXH">Mã BHXH</label>
                    <input type="text" id="maBHXH" name="maBHXH" value="{{ bhxh.ma_bhxh }}" required>
                </div>
            </div>
            <div class="info-row">
                <div class="field-group">
                    <label for="maNV">Mã nhân viên</label>
                    <input type="text" id="maNV" name="maNV" value="{{ ma_nv }}" readonly>
                </div>
                <div class="field-group">
                    <label for="nhanVienDong">Nhân viên đóng</label>
                    <input type="text" id="nhanVienDong" name="nhanVienDong" value="{{ bhxh.nhan_vien_dong|floatformat:1 }}%" readonly>
                </div>
            </div>
            <div class="info-row">
                <label for="truongDong">Trường đóng</label>
                <input type="text" id="truongDong" name="truongDong" value="{{ bhxh.truong_dong|floatformat:1 }}%" readonly>
            </div>
            <div class="info-row">
                <label for="tongTienBHXH">Tổng tiền BHXH</label>
                <input type="text" id="tongTienBHXH" name="tongTienBHXH" value="{{ bhxh.tong_tien_bhxh|floatformat:0 }}" readonly>
            </div>
            <div class="info-row">
                <label for="ngayBatDauDong">Ngày bắt đầu đóng</label>
                <input type="date" id="ngayBatDauDong" name="ngayBatDauDong" value="{{ bhxh.thoi_gian_bat_dau_dong|date:'Y-m-d' }}" required>
            </div>
            <div class="action-buttons">
                <button class="button" type="submit">Lưu</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
