{% extends 'HOME.html' %}
{% block extra_css %}
<style>
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        background-color: white;
        padding: 20px;
    }
    .bhxh-title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        color: #000000;
        font-style: italic;
    }
    .list-group {
        background: linear-gradient(to right, #DDF0FF, #FFFFFF);
        width: 900px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    .form-fields {
        display: flex;
        gap: 15px;
        margin-bottom: 30px;
        flex-direction: column;
    }
    .field-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .field-group label {
        font-weight: bold;
        color: #066BBB;
        min-width: 180px;
        text-align: right;
    }
    .field-group p {
        margin: 0;
        font-size: 14px;
        color: #000;
        padding: 8px 10px;
        border-radius: 5px;
        width: 250px;
    }
    .field-group input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        background-color: #FFFFFF;
        color: #000000;
        width: 250px;
    }
    .action-buttons {
        display: flex;
        justify-content: flex-end;
    }
    .button {
        background-color: #007BFF;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
    .button:hover {
        background-color: #0056b3;
    }
    .action-buttons1 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .button1 {
        background-color: #D9D9D9;
        color: black;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block page_background %}
<div class="container" style="width: 75%;">
    <div class="action-buttons1">
        <a href="{% url 'bhxh_list' %}" class="button1">Quay lại</a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="list-group">
        <form method="POST">
            <h2 class="bhxh-title">THÔNG TIN BHXH</h2>
            <div class="form-fields">
                {% csrf_token %}
                <div class="field-group">
                    <label>Tên nhân viên</label>
                    <p>{{ bhxh.nhan_vien.ten_nv }}</p>
                </div>
                <div class="field-group">
                    <label>Mã BHXH</label>
                    {{ form.ma_BHXH }}
                </div>
                <div class="field-group">
                    <label>Nhân viên đóng</label>
                    <p>{{ bhxh.nhan_vien_dong }}</p>
                </div>
                <div class="field-group">
                    <label>Trường đóng</label>
                    <p>{{ bhxh.truong_dong }}</p>
                </div>
                <div class="field-group">
                    <label>Ngày bắt đầu đóng</label>
                    <p>{{ bhxh.thoi_gian_bat_dau|date:'d/m/Y' }}</p>
                </div>
            </div>
            <div class="action-buttons">
                <button type="submit" class="button">Lưu</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

