{% extends 'home.html' %}
{% block extra_css %}
<style>
    .container{
        width: 1100px
    }
.bhxh-title {
            font-size: 28px;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 30px;
            color: #000000;
            display:flex;
            justify-content:center;
        }
        .list-group {
            margin-left:180px;
            width: 700px;
            padding: 10px;
            background: linear-gradient(to right, #DDF0FF, #FFFFFF);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            border-radius: 10px;
            height:200px;
        }
        .info-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        p {
            font-weight: bold;
            color: #066BBB;
            font-family: 'Roboto Slab';
            margin-top: 10px ;
            flex: 1;
            min-width: 50%;
            margin-left:20px;
        }
        .value {
            font-weight: normal;
            color: black;
        }
        .bhxh-container {
            flex-grow: 1;
            padding-left: 10px;

        }
        .action-buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .button1 {
            background-color: #D9D9D9;
            color: black;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
        }
        .button:hover {
            background-color: #0056b3;
        }
</style>
{% endblock %}
{% block page_background %}
<div class="container" style="background-color: white; padding: 20px;">
        <div class="action-buttons">
            <a href="#" class="button1">Quay lại</a>
        </div>
        <div class="content">
             <h2 class="bhxh-title"> {{ bhxh.nhan_vien.ten_nv }} - THÔNG TIN BHXH </h2>
            <div class="bhxh-container" style="flex-grow: 1; padding-right: 20px;">
                <div class="list-group">
                    <div class="info-row">
                        <p><span class="text-primary">Mã nhân viên:</span> <span class="value">NV001</span></p>
                        <p><span class="text-primary">Nhân viên đóng:</span> <span class="value">5%</span></p>
                    </div>
                    <div class="info-row">
                        <p><span class="text-primary">Mã BHXH:</span> <span class="value">BHXH001</span></p>
                        <p><span class="text-primary">Trường đóng:</span> <span class="value">10%</span></p>
                    </div>
                    <div class="info-row">
                        <p><span class="text-primary">Ngày bắt đầu đóng:</span> <span class="value">01/01/2025</span></p>
                        <p><span class="text-primary">Tổng tiền BHXH:</span> <span class="value">1,200,000</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}