{% extends "home.html" %}

{% block extra_css %}
    <style>

        .content{
            width: 1100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

        }
        .ndung{
            width: 1100px;
            padding: 20px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
        }
    }

        table{
        width: 450px;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }
        .btn{
        padding: 10px ;
        border-radius:5px;
        font-size: 15px;
        text-align: center;
        background-color:#D9D9D9 ;
        color: black;
        border: 1px solid;
    }
        .button{
            padding: 20px;
        }

    </style>
{% endblock %}
{% block page_background %}
<main class="content" style="background-color: #ffffff; padding: 10px;">

    <div class="button" style="display: flex; justify-content: space-between; align-items: center;">
        <button class="btn btn-secondary" onclick="window.history.back()" style="font-size: 16px; padding: 10px 30px;">Quay lại</button>
    </div>
    <div class="ndung">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="header-title" style="color: #000000; font-size: 30px; font-weight: bold; text-align: center; width: 100%;">THÊM MỚI HỒ SƠ NHÂN VIÊN</h1>
            <div class="container mt-4" style="background-color: #f0f8ff; padding: 40px; border-radius: 10px;">
                <h4 class="header-title" style="display: flex; justify-content: space-between; font-size: 30px; font-weight: bold; margin-bottom: 20px; margin-top: -39px; margin-right:-40px; margin-left:-40px;">
                    <a href="{% url 'NVXemHoSo' %}"style="background-color: #65ABE3; color: white; width: 50%; text-align: center; padding: 10px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; text-decoration: none;">
                        Thông Tin Cá Nhân
                    </a>
                    <a href="{% url 'NVXemHoSoHDLD' %}" style=" border: 2px solid #000000; background-color: #008CBA; color: white; width: 50%; text-align: center; padding: 10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; text-decoration: none;">
                        Hợp Đồng Lao Động
                    </a>
                </h4>

                <div class="row" style="border-radius: 5px; border: 3px solid #ccc; padding: 10px;" >
                    <div class="col-md-6 left-column" style="padding: 10px;">
                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="ten_nv" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Họ và tên:</label>
                            <div style="font-size: 16px;">{{ nhan_vien.ten_nv }}</div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="ma_nv" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Mã nhân viên:</label>
                            <div style="font-size: 16px;">{{ nhan_vien.id  }}</div>
                        </div>
                    </div>

                    <div class="col-md-6 left-column" style="padding: 10px;">
                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="vi_tri_cong_viec" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Vị trí làm việc:</label>
                            <div style="font-size: 16px;">{{ nhan_vien.vi_tri_cong_viec }}</div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="to_phong_ban" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Tổ (Phòng ban):</label>
                            <div style="font-size: 16px;">{{ nhan_vien.to_phong_ban }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 left-column" style="padding: 10px; margin-top: 20px;">

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="so_hd" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Số hợp đồng:</label>
                            <div style="font-size: 16px;">{{ hop_dong.so_hop_dong }}</div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 10px;">
                            <label for="thoi_han_hd" style="width: 450px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Thời hạn HĐ:</label>
                            <div style="font-size: 16px;">{{ hop_dong.thoi_han_hop_dong}}</div>
                            <div class="form-group" style="display: flex; align-items: center; margin-bottom: 10px;">
                                <label for="thoi_han_hd" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-left: 10px; text-align: left;"> Tháng </label>
                            </div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="tu_ngay" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Từ ngày:</label>
                            <div style="font-size: 16px;">{{ hop_dong.tu_ngay }}</div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="ngay_ky" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Ngày ký:</label>
                            <div style="font-size: 16px;">{{ hop_dong.ngay_ky }}</div>
                        </div>

                        <div class="form-group">
                            <label for="danh_sach_phu_cap" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">DS phụ cấp:</label>
                            <div style="font-size: 16px;">{{ hop_dong.danh_sach_phu_cap }}</div>
                        </div>

                    </div>


                    <div class="col-md-6 right-column" style="padding: 10px; margin-top: 20px;">


                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="loai_hop_dong" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Loại hợp đồng:</label>
                            <div style="font-size: 16px;">{{ hop_dong.loai_hop_dong }}</div>
                        </div>


                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="luong" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Lương:</label>
                            <div style="font-size: 16px;">{{ hop_dong.luong }}</div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 10px;">
                            <label for="den_ngay" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Đến ngày:</label>
                            <div style="font-size: 16px;">{{ hop_dong.den_ngay }}</div>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-bottom: 15px;">
                            <label for="trang_thai_hd" style="width: 180px; font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Trạng thái HĐ:</label>
                            <div style="font-size: 16px;">{{ hop_dong.trang_thai_hop_dong }}</div>
                        </div>

                        <div class="form-group">
                            <label for="gia_tri_phu_cap" style="font-weight: bold; font-size: 16px; color: #333; margin-right: 10px; text-align: left;">Giá trị phụ cấp:</label>
                            <div style="font-size: 16px;">{{ hop_dong.gia_tri_phu_cap }}</div>
                        </div>
                    </div>
                </div>

            </div>
    </div>

            </div>
        </form>
    </div>
</main>


{% endblock %}
