{% extends 'NghiPhep/NP_list.html' %}
{% block title %}
    {% if instance %}
        Chỉnh sửa Đơn {{model_type}}
    {% else %}
        Thêm mới Đơn {{model_type}}
    {% endif %}
{% endblock %}
{% block CSS %}
<style>
        .form-box {


        }
        .container {
        padding: 30px;
            width: 85%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            background: linear-gradient(to right, #DDF0FF, #FFFFFF);
            width: 90%
        }
        h1 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .info label {
            width: 140px;
            font-weight: bold;
            color: #2c3e50;
        }
        .text-danger{
            font-style: italic;
            font-size: 12px;
        }
        .info span {
            font-weight: bold;
            text-decoration: underline;
        }
        label {
            display: block;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #2c3e50;
        }
        .profile{
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #2c3e50;
        }
        input[type="text"],
        input[type="date"],
        select,
        textarea {
            width: 100%;
            padding: 5px;
            border: 1px solid #999;
            border-radius: 8px;
            box-sizing: border-box;
            margin-bottom: 15px;
            font-size: 14px;
        }
        textarea {
            resize: none;
        }
        .form-row {
            display: flex;
            margin-bottom: 15px;

        }

        .form-row label {
            width: 130px;
            margin-right: 10px;
            text-align: left;
            font-weight: bold;
            color: #2c3e50;

        }

        .form-row input,
        .form-row select
        {
            width: 20%
        }
        .form-row textarea {
            width: 50%
        }

        .form-row-two {
            display: flex;
            gap: 50px;
        }

        .form-row-two .item {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 30px;
        }

        .form-row-two label {
            font-weight: bold;
            color: #2c3e50;
            margin-bottom: 15px;
            width: 180px
        }
        .ngay{
            width: 100%;
            margin-bottom: 25px;
        }

        .form-row-two input {
            padding: 5px;
            border-radius: 8px;
            height: auto;
            border: 1px solid #999;
        }
        .submit-button {
            width: 15%;
            background-color: #4285F4;
            color: white;
            border: none;
            padding: 10px;
            height: 35px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .submit-button:hover {
            background-color: #357ae8;
        }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("quaylai").addEventListener("click", function(){
            window.location.href = '{% url 'DanhSachNP_NV' %}';
        });

    });
</script>

{% endblock %}
{% block formNP %}
<div class="content" style="width: 100%; height: auto">
    <div class="ndung" >
        <div class="form-box">
            <div class="container" >
                <h1>ĐƠN NGHỈ PHÉP</h1>
                {% if form.non_field_errors %}
                  <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                      <div>{{ error }}</div>
                    {% endfor %}

                  </div>
                {% endif %}
                <p class="profile">Mã Nhân viên: <span style="font-size: 15px; font-style: italic">{{ nhan_vien.id }}</span> </p>
                <p class="profile">Tên Nhân viên: <span style="font-size: 15px; font-style: italic">{{ nhan_vien.ten_nv }}</span> </p>
                <br>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <label>Loại nghỉ phép:</label>
                        {{ form.loai_nghi }}
                    </div>

                    <div class="form-row-two">
                        <div class="ngay">
                            <div class="item">
                            <label>Ngày bắt đầu:</label>
                            {{ form.ngay_bat_dau }}
                            </div>
                            {% for error in form.ngay_bat_dau.errors %}
                            <div class="text-danger">*{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="ngay">
                            <div class="item">
                                <label>Ngày kết thúc:</label>
                            {{ form.ngay_ket_thuc }}
                        </div>
                        {% for error in form.ngay_ket_thuc.errors %}
                            <div class="text-danger">*{{ error }}</div>
                        {% endfor %}
                        </div>



                    </div>

                    <div class="form-row">
                        <label>Lý do:</label>
                        {{ form.ly_do }}
                    </div>
                    <button type="submit" class="submit-button">Lưu</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
