{% extends 'NghiPhep/NP_list.html' %}
{% block title %}
    {% if instance %}
        Chỉnh sửa Đơn {{model_type}}
    {% else %}
        Thêm mới Đơn {{model_type}}
    {% endif %}
{% endblock %}
{% block CSS %}
<style>
    body {
            display: flex;!important
            align-items: center;
            justify-content: center;
            background: linear-gradient(to right, #e0f7fa, #e1f5fe);
            font-family: 'Arial', sans-serif;


        }
        .wrapper {
            background: linear-gradient(to right, #DDF0FF, #FFFFFF);
            padding: 30px;
            width: 85%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);

        }
        .container {
            width: 400px;
            width: 90%
        }
        h1 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .info label {
            width: 140px;
            font-weight: bold;
            color: #2c3e50;
        }
        .info span {
            font-weight: bold;
            text-decoration: underline;
        }
        label {
            display: block;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #2c3e50;
        }
        .profile{
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #2c3e50;
        }
        input[type="text"],
        input[type="date"],
        select,
        textarea {
            width: 100%;
            padding: 5px;
            border: 1px solid #999;
            border-radius: 8px;
            box-sizing: border-box;
            margin-bottom: 15px;
            font-size: 14px;
        }
        textarea {
            resize: none;
        }
        .submit-button {
            width: 15%;
            background-color: #4285F4;
            color: white;
            border: none;
            padding: 10px;
            height: 35px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .submit-button:hover {
            background-color: #357ae8;
        }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("quaylai").addEventListener("click", function(){
            window.location.href = '{% url 'DanhSachNP_NV' %}';
        });

    });
</script>

{% endblock %}
{% block formNP %}
<div class="content">
    <div class="ndung">
        <div class="wrapper">
        <div class="form-box">
            <div class="container">
                <h1>ĐƠN NGHỈ PHÉP</h1>

                <p class="profile">Mã Nhân viên: <span style="font-size: 15px; font-style: italic">{{ nhan_vien.id }}</span> </p>
                <p class="profile">Tên Nhân viên: <span style="font-size: 15px; font-style: italic">{{ nhan_vien.ten_nv }}</span> </p>
                <br>

                <form method="post">
                    {% csrf_token %}

                    <label>Loại nghỉ phép:</label>
                    {{ form.loai_nghi }}

                    <label>Ngày bắt đầu:</label>
                    {{ form.ngay_bat_dau }}

                    <label>Ngày kết thúc:</label>
                    {{ form.ngay_ket_thuc }}

                    <label>Lý do:</label>
                    {{ form.ly_do }}

                    <button type="submit" class="submit-button">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
