{% extends 'NghiPhep/NP_list.html' %}
{% block title %}
    {% if instance %}
        Chỉnh sửa Đơn {{model_type}}
    {% else %}
        Thêm mới Đơn {{model_type}}
    {% endif %}
{% endblock %}


{% block CSS %}
   <style>
    input[type="text"],
    input[type="date"],
    select,
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #999;
        border-radius: 8px;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 14px;
    }
     textarea {
        background-color: white !important;
    }
    .inputtext {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #F1EFEC;
}
</style>
{% endblock %}



{% block formNP %}
<div class="formNp" style="width: 100%; height: auto;">
    <div class="ndung" style="width: 100%">
        <div class="form-box" style="width: 100%">
            <div class="container">
                <p class="title" style="text-align: center;font-size: 24px ;background: linear-gradient(to right, #2c3e50, #34495e); color: white; padding: 20px; border-radius: 8px 8px 0px 0px; width: 100%; height: 60px; display: flex; justify-content:center;align-items: center">ĐƠN NGHỈ PHÉP</p>
                <div class="form"  style="background: white; padding: 30px; margin-top:-20px">
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" style="color: red;font-style: italic; ">
                        {% for error in form.non_field_errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Thông tin nhân viên dạng 2 cột -->
                    <div class="form-row-two">
                        <div class="field-half">
                            <label>Mã Nhân viên</label>
                            <input type="text" value="{{ nhan_vien.id }}" readonly class="inputtext" />
                        </div>
                        <div class="field-half">
                            <label>Tên Nhân viên</label>
                            <input type="text" value="{{ nhan_vien.ten_nv }}" readonly class="inputtext" />
                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}

                        <!-- Loại nghỉ phép -->
                        <div class="field-half">
                            <label>Loại nghỉ phép:</label>
                            {{ form.loai_nghi }}
                        </div>

                        <!-- Ngày bắt đầu & Ngày kết thúc -->
                        <div class="form-row-two">
                            <div class="field-half">
                                <label>Ngày bắt đầu:</label>
                                {{ form.ngay_bat_dau }}
                                {% for error in form.ngay_bat_dau.errors %}
                                    <div class="text-danger">*{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="field-half">
                                <label>Ngày kết thúc:</label>
                                {{ form.ngay_ket_thuc }}
                                {% for error in form.ngay_ket_thuc.errors %}
                                    <div class="text-danger">*{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Lý do -->
                        <div class="field-half">
                            <label>Lý do:</label>
                            {{ form.ly_do }}
                        </div>
                        <div style="display: flex; gap: 20px;justify-content: right;">
                            <div style="text-align: right; margin-top: 20px;">
                            <button type="submit" id="quaylai" onclick="window.location.href='{% url 'DanhSachNP_NV' %}'" >Hủy</button>
                            </div>
                            <div style="text-align: right; margin-top: 20px;">
                                <button type="submit" class="submit-button">Lưu</button>
                            </div>
                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
