{% extends 'home.html' %}
{% block page_background %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/NP_list.css' %}">

{% block CSS %}

{% endblock %}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        let elements = document.querySelectorAll(".trangthai");
        elements.forEach(element => {
            if (element.innerText.trim() === "Đã duyệt") {
                element.style.color = "#72C05B";
                element.style.fontWeight = "bold";
            }
            if (element.innerText.trim() === "Bị từ chối") {
                element.style.color = "#FF0000";
                element.style.fontWeight = "bold";
            }
            if (element.innerText.trim() === "Đang chờ duyệt") {
                element.style.color = "#FFC700";
                element.style.fontWeight = "bold";
            }
        });

        document.getElementById('themmoi').addEventListener('click', function() {
            window.location.href = "{% url 'AddNghiPhep' %}";
        });

    });
    function toggleHistory(itemId) {
  const btn = document.querySelector(`button[onclick="toggleHistory(${itemId})"]`);
  const content = document.getElementById(`historyContent-${itemId}`);

    if (content.style.display === "none") {
      content.style.display = "block";
      btn.textContent = "Ẩn lịch sử";
    } else {
      content.style.display = "none";
      btn.textContent = "Xem lịch sử";
    }
  }
</script>



<div class="np-wrapper">
    <div class="content">
    {% url 'DanhSachNP_NV' as url_np_nv %}
    {% url 'DanhSachNP' as url_np %}
    {% url 'DanhSachNP_HT' as url_np_ht %}

    {% if nhan_vien.chuc_vu == 'Hiệu Trưởng' or nhan_vien.chuc_vu == 'Hiệu phó' or nhan_vien.chuc_vu == 'Tổ trưởng' %}
        <ul class="custom-nav-tabs">
            {% if nhan_vien.chuc_vu == 'Hiệu Trưởng' %}
            <li>
                <a class="{% if request.path == url_np_ht %}active{% endif %}" href="{{ url_np_ht }}">
                    Nghỉ phép của BGH
                </a>
            </li>
            {% else %}
            <li>
                <a class="{% if request.path == url_np_nv %}active{% endif %}" href="{{ url_np_nv }}">
                    Nghỉ phép của tôi
                </a>
            </li>
            {% endif %}
            <li>
                <a class="{% if request.path == url_np %}active{% endif %}" href="{{ url_np }}">
                    Duyệt nghỉ phép
                </a>
            </li>
        </ul>
    {% endif %}
    {% block content %}
    <div class="button">
        {% block titleNP %}
            <div class="titleNP">Đơn nghỉ phép - {{nhan_vien.ten_nv}} </div>
        {% endblock %}

        {% block btnAdd %}
            <button type="button" class="themmoi" id="themmoi"><i class="fa-solid fa-plus" ></i>  Thêm mới</button>
        {% endblock %}
    </div>
    {% block ttNP %}
    <div class="np-container">
        <div class="np-card">
            <div class="np-accent"></div>
            <div class="np-content">
                <div class="np-title">Số ngày Nghỉ phép năm</div>
                <div class="np-number">{{so_nghi_phep_nam}}</div>
            </div>
        </div>
        <div class="np-card">
            <div class="np-accent"></div>
            <div class="np-content">
                <div class="np-title">Số ngày Đã nghỉ</div>
                <div class="np-number">{{so_ngay_da_nghi}}</div>
            </div>
        </div>
        <div class="np-card">
            <div class="np-accent"></div>
            <div class="np-content">
                <div class="np-title">Số ngày Phép năm còn lại</div>
                <div class="np-number">{{PN_con_lai}}</div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block formNP %}
    <div class="ndung" style="display: flex; gap: 70px">
        <div class="ndungNp">
            <div class="Search">
                <form class="timkiemngay" action="{% url 'TimKiemNP' %}">
                    <div class="text_search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="search_date"
                           type="date"
                           aria-label="Tìm kiếm Ngày bắt đầu Nghỉ:"
                           name="search" onchange="this.form.submit()"
                           value="{{ request.GET.search }}">
                    </div>
                </form>
                <form method="get" action="{% url 'DanhSachNP_NV' %}" style="width:15%; width: 18%; ">
                        <select name="year"onchange="this.form.submit()" style="height: 30px; font-size: 14px; padding: 0px 20px;border-radius: 5px;width: 100%;">
                            {% for y in years %}
                                <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                </form>
            </div>

                {% if NP_list %}
                    <div class="np-cards-list">
                        {% for item in NP_list %}
                        <div class="np-card-item">
                            <div class="np-card-header">
                                <strong style="font-size: 18px">{{ item.loai_nghi }}</strong>
                                <hr>
                                <div>
                                    {% if item.trang_thai_don == "Đã duyệt" %}
                                        <span class="badge badge-success">Đã duyệt</span>
                                    {% elif item.trang_thai_don == "Đang chờ duyệt" %}
                                        <span class="badge badge-warning">Đang chờ duyệt</span>
                                    {% elif item.trang_thai_don == "Bị từ chối" %}
                                        <span class="badge badge-danger">Từ chối</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="np-card-body">
                                <div style="display: flex; gap: 120px">
                                    <p><strong >Ngày bắt đầu:</strong> {{ item.ngay_bat_dau }}</p>
                                    <p><strong>Ngày đi làm lại:</strong> {{ item.ngay_ket_thuc }}</p>
                                </div> <br>
                                    <p><strong>Lý do:</strong> {{ item.ly_do }}</p> <br>
                                    <p><strong>Ghi chú:</strong> {{ item.ghi_chu|default:"Không" }}</p>
                            </div>

                            {% if item.trang_thai_don == "Đang chờ duyệt" %}
                            <div class="card-actions" style="margin-top: 20px; font-size: 13px">
                                <a class="btn btn-edit" href="{% url 'EditNghiPhep' nghiphep_pk=item.id %}">Chỉnh sửa</a>
                                <a class="btn btn-delete" href="{% url 'DeleteNghiPhep' nghiphep_pk=item.id %}">Xóa</a>
                            </div>
                            {% endif %}

                            <div class="np-card-footer">
                                <div style=" ">
                                    <i class="fa-solid fa-clock-rotate-left" style="size: 14px"></i>
                                    <a onclick="toggleHistory({{ item.id }})" class="historylink" style="text-decoration: underline"> Xem lịch sử</a>
                                </div>

                                <div id="historyContent-{{ item.id }}" style="display: none; margin-top: 10px;">
                                    <div class="history-block">
                                        <img src="{{ item.nhan_vien.anh_ca_nhan }}" class="avatar" alt="Avatar">
                                        <div>
                                            <strong>{{ item.nhan_vien.ten_nv }}</strong> đã tạo đơn vào {{ item.ngay_tao_don }}<br>
                                            <span class="history_loainghi">Loại nghỉ: {{ item.loai_nghi }}</span>
                                        </div>
                                    </div>
                                    {% if item.nguoi_duyet %}
                                    <div class="history-block" style="margin-left: 40px; margin-top: 10px;">
                                        <img src="{{ item.nguoi_duyet.anh_ca_nhan }}" class="avatar" alt="Avatar">
                                        <div>
                                            <strong>{{ item.nguoi_duyet.ten_nv }}</strong> đã xử lý vào {{ item.ngay_duyet }}<br>
                                            <span class="history_nguoiduyet">{{ item.nguoi_duyet.chuc_vu }} {{ item.nguoi_duyet.to_phong_ban }}</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>


                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Không có đơn nghỉ phép nào</p>
                {% endif %}
                </div>
        <div class="ndungloc" style="width:25%; max-height: 500px; ">
           <div class="TitleLoc" style="display: flex; gap: 10px; align-items: left;">
                <i class="fa-sharp fa-solid fa-filter" style="font-size: 20px;"></i>
                <p style="margin: 0; font-size: 15px; font-weight: 600;">Lọc</p>
            </div>
            <ul id="dongloc" style="width: 80%; margin-top: 20px; font-size: 14px; ">
                <li class="loc" >
                    <a href="{% url 'DanhSachNP_NV'  %}?year={{ year }}" class="font-bold hover:text-blue-600">
                        Tất cả ({{ so_don }})
                    </a>
                </li>
                <li class="loc" >
                    <a href="{% url 'loc_don_nghi_phep' %}?trang_thai=Đang chờ duyệt&year={{ year }}" class=" font-bold hover:text-blue-600">
                        Chờ duyệt ({{ so_don_dang_duyet.count }})
                    </a>
                </li>
                <li class="loc" >
                    <a href="{% url 'loc_don_nghi_phep' %}?trang_thai=Đã duyệt&year={{ year }}" class=" font-bold hover:text-blue-600">
                        Đã duyệt ({{ so_don_da_duyet.count }})
                    </a>
                </li>
                <li class="loc" >
                    <a href="{% url 'loc_don_nghi_phep' %}?trang_thai=Bị từ chối&year={{ year }}" class=" font-bold hover:text-blue-600">
                        Từ chối ({{ so_don_dang_bi_tu_choi.count }})
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}
    {% endblock %}
</div>
</div>
{% endblock %}