{% extends 'NghiPhep/NP_list_admin.html' %}

{% block locdanhsach %}
<div class="ndungloc" style="width:20%; max-height: 500px;">

   <div class="TitleLoc" style="display: flex; gap: 10px; align-items: left;">
        <i class="fa-sharp fa-solid fa-filter" style="font-size: 20px;"></i>
        <p style="margin: 0; font-size: 15px; font-weight: 600;">Lọc</p>
    </div>
    <ul id="dongloc" style="width: 80%; margin-top: 20px; ">
        <li class="loc" >
            <a href="{% url 'DanhSachNP_HT'  %}?year={{ year }}" class="font-bold hover:text-blue-600">
                Tất cả ({{ so_don }})
            </a>
        </li >
        <li class="loc">
            <a href="{% url 'loc_don_nghi_phep_hieutruong' %}?trang_thai=Đang chờ duyệt&year={{ year }}" class=" font-bold hover:text-blue-600">
                Chờ duyệt ({{ so_don_dang_duyet.count }})
            </a>
        </li>
        <li class="loc">
            <a href="{% url 'loc_don_nghi_phep_hieutruong' %}?trang_thai=Đã duyệt&year={{ year }}" class=" font-bold hover:text-blue-600">
                Đã duyệt ({{ so_don_da_duyet.count }})
            </a>
        </li >
        <li class="loc">
            <a href="{% url 'loc_don_nghi_phep_hieutruong' %}?trang_thai=Bị từ chối&year={{ year }}" class=" font-bold hover:text-blue-600">
                Từ chối ({{ so_don_dang_bi_tu_choi.count }})
            </a>
        </li>
    </ul>

</div>
{% endblock %}


{% block header %}
     <form class="Search" action="{% url 'TimKiemNV_HT' %}" style="margin-bottom: 20px">
        <label  style="font-weight: 500; margin-bottom: 0;">Chọn nhân viên:</label>
        <select name="nhan_vien" id="nhan_vien" style="width: 200px; padding: 4px 8px; border-radius: 8px; font-size: 16px;" onchange="this.form.submit()">
            <option value="">-- Tất cả --</option>
            {% for nv in nhan_vien_quan_ly %}
              <option value="{{ nv.id }}">
                {{ nv.ten_nv }}
              </option>
            {% endfor %}
          </select>
    </form>

    <form method="get"
          action="{% url 'DanhSachNP_HT' %}"
          style="width:30%; height: 15px" xmlns:nv.id xmlns:nv.id>
            <select name="year" class="form-control" onchange="this.form.submit()"  style="height: 30px; font-size: 14px; padding: 0px 20px;border-radius: 5px;width: 50%;">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </form>
{% endblock %}