{% extends 'NghiPhep/NP_list_admin.html' %}


{% block CSS %}
    .info {
        display: flex;
        flex-direction: row !important;
        margin-top: -10px;
        gap: 20px;
        width: 40%;
        align-items: center;
        padding: 20px;
        border-radius: 15px;
    }
{% endblock %}


{% block titleNP %}
    <div class="titleNP" style="width: 90%" onclick="window.location.href='{% url 'DanhSachNP' %}'">DANH SÁCH ĐƠN NGHỈ PHÉP</div>
{% endblock %}

{% block profile %}
    <div class="info">
            <img src="{{ search_text.anh_ca_nhan }}" alt="Ảnh nhân viên"
                 style="width: 100px; height: 100px; object-fit: cover; border-radius: 50px;">

        <div style="display: flex; flex-direction: column; gap: 5px;  ">
            <span><strong>Nhân viên:</strong> {{ search_text }}</span>
            <span><strong>Vị trí công việc:</strong> {{ search_text.vi_tri_cong_viec }}</span>
            <span><strong>Tổ:</strong> {{ search_text.to_phong_ban }}</span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
        document.getElementById("quaylai").addEventListener("click", function(){
            window.location.href = '{% url 'DanhSachNP' %}';
        });
{% endblock %}


{% block btnAdd %}
    <form class="form-search" action="{% url 'TimKiemNV' %}" style="width: 55%; display: flex; gap:10px">
        <select name="nhan_vien" id="nhan_vien" style="width: 200px; padding: 4px 8px; border-radius: 8px; font-size: 16px;" onchange="this.form.submit()" >
            <option value="">-- Tất cả --</option>
            {% for nv in nhan_vien_quan_ly %}
              <option value="{{ nv.id }}">
                {{ nv.ten_nv }}
              </option>
            {% endfor %}
          </select>
    </form>
{% endblock %}

{% block header %}
{% endblock %}

{% block locdanhsach %}

{% endblock %}